@{
    ViewData["Title"] = "Middleware";
}

<div class="text-center">
    <h1 class="display-4">Middleware: ПО промежуточного слоя</h1>
</div>
<p>
    Один из примеров Middleware - маркер. Просто в контекст устанавливается
    некоторое значение, и это есть признак того, что запрос прошел правильный
    путь.
</p>


<p>Маркер: <strong>
    <pre>@ViewData["marker"]</pre>
</strong></p>
